
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

/* ----------------------- */
.center {
    transform: scale(1.5);
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .article-card {
    width: 200px;
    height: 100 px;
    border-radius: 12px;
    overflow: hidden;
    /* position: relative; */
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
  }
  
  .article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .article-card img {
    width: 150px;
    height: 80px;
    object-fit: cover;
  }
  
  .article-card .content {
    box-sizing: border-box;
    width: 100%;
    /* position: absolute; */
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  }
  
  .article-card .date,
  .article-card .title {
    margin: 0;
  }
  
  .article-card .date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4px;
  }
  
  .article-card .title {
    font-size: 17px;
    color: #fff;
  }

  .rent-span{
    width: 100px;
    font-size: 12px;
    /* border: 2px solid red; */
  }

  .fixDiv{
    height: 350px;
    width: 400px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
  }

  .fixDiv::-webkit-scrollbar {
    display: none;
  }
  .fixDiv { overflow: -moz-scrollbars-none; }
  .fixDiv { -ms-overflow-style: none; }

  .profile{
    background-color: #BA68C8;
  }

  /* .element::-webkit-scrollbar { width: 0 !important } */
