.image-man-div{
    height: 550px;
    padding: 25px;
}

.discription-div{
    height: 550px;
    padding: 50px;
}

.main-img-div{
    height: 350px;
    border-radius: 10px 10px;
    border-left:1px solid gray ;
}

.main-container{
    border-radius: 10px 10px;
    
}

.my-img{
    padding-left: 5%;
    width: 50%;
    border-radius: 10px 10px;
    height: 12  0px;
}
.my-img img{
    width: 100%;
    border-radius: 10px 10px;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-img-div img{
    border-radius: 10px 10px;
    width: 100%;
}

.house-rent{
   font-style: italic;
   font-size: 1.5rem;
}

.config{
    text-align: center;
    padding-top: 1%;
    font-size: .8rem;
    font-style: italic;
    font-weight: 500;
    color: white;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);height: 25px;
    width: 150px;
    border-radius: 20px 20px;
    
}

.config-data{
    width: 100%;
    margin-left: 2%;
    font-size: 1rem;
    margin-top: -10%;
}

.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: absolute;
    background-color: #f8f8f8;
    /* background-clip: padding-box; */
    border-radius: 2px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    left: 100%;
    top: 40%;
    right: auto;
    min-height: 400px;
    max-height: auto;
    width: 90%;
    max-width: 650px;
    transform: translate(-50%, -45%);
    padding-bottom: 0;
    margin-bottom: 0;
}

.modal-lg .modal-content {
    min-height: 85vh;
    height: auto;
    max-height: auto;
    width: 90%;
    max-width: 90%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.modal-lg .modal-body {
    max-height: calc(90vh - 100px);
}

.modal-sm .modal-content {
    min-height: auto;
    max-height: auto;
    max-width: 650px;
}

.modal-header {
    padding: 0;
    border-bottom: 0;
    line-height: 15px;
}

.modal-header::after {
    display: block;
    content: "";
    clear: both;
}

.modal-title {
    margin-bottom: 0;
    padding: 15px;
    line-height: inherit;
    float: left;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.modal-header .close {
    /* line-height: inherit; */
    margin-left: 70%;
    cursor: pointer;
    
}

.close i{
    font-size: 22px;
}

.modal-body {
    position: relative;
    /* flex-grow: 100; */
    padding: 15px;
    overflow: auto;
}

.modal-sm .modal-body {
    padding: 20px;
}

.modal-body .container {
    max-width: 650px;
}

.modal-footer {
    border-top: 0;
}

.modal-footer::after {
    display: block;
    content: "";
    clear: both;
}
.contact-form{
    background: #fff;
    /* margin-top: 10%; */
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}


.card {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    height: auto;
    position: relative;
  }
    
  .mobile-text {
    color: #989696b8;
    font-size: 15px;
  }
  
  .form-control {
    margin-right: 12px;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none;
  }
  
  .cursor {
    cursor: pointer;
  }

  .d-1{
    width: 100%;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);height: 25px;
    /* border-radius: 100px 0px 0px 100px; */
    border-radius: 200px 46px 0px 0px;
    -moz-border-radius: 200px 46px 0px 0px;
    -webkit-border-radius: 46px 46px 0px 0px;
  }

  .req-con{
    height: 150px;
  }


  /* ------- */
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-req {
    min-width: 100px;
    min-height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    /* text-transform: ; */
    /* letter-spacing: 1.3\px; */
    font-weight: 700;
    color: #313133;
    /* background: #4FD1C5; */
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);

    /* background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%); */
    border: none;
    border-radius: 1000px;
    /* box-shadow: 12px 12px 24px rgba(79,209,197,.64); */
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  .button-req:hover, .button-req:focus {
    color: #313133;
    transform: translateY(-2px);
  }
  
  .button-req:hover::before, .button-req:focus::before {
    opacity: 1;
  }
  
  .button-req::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid skyblue;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button-req:hover::after, .button-req:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }
  
  .req-d2{
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 200px 0px 0px 200px;
-moz-border-radius: 200px 0px 0px 200px;
-webkit-border-radius: 200px 0px 0px 200px;
border: 2px solid gray;
  }

  .button-34 {
    
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;

  } 

  .input-req{
    font-size: 15px;
  }

  .back i{
    font-size: 32px;
    color: #045de9;
  }

  .customCheckBoxHolder {
    margin: 5px;
    display: flex;
  }
  
  .customCheckBox {
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.7);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    height: 32px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
    outline: none;
    justify-content: center;
    min-width: 55px;
  }
  
  .customCheckBox:hover {
    background-color: #2c2c2c;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
  }
  
  .customCheckBox .inner {
    font-size: 18px;
    font-weight: 900;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: transform;
    transform: translateY(0px);
  }
  
  .customCheckBox:hover .inner {
    transform: translateY(-2px);
  }
  
  .customCheckBoxWrapper:first-of-type .customCheckBox {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
  }
  
  .customCheckBoxWrapper:last-of-type .customCheckBox {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
  }
  
  .customCheckBoxInput {
    display: none;
  }
  
  .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
    background-color: #2d6737;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
  }
  
  .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
    transform: translateY(-2px);
  }
  
  .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
    background-color: #34723f;
    box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
  }
  
  .customCheckBoxWrapper .customCheckBox:hover .inner {
    transform: translateY(-2px);
  }
